# dependencies
node_modules/

# build output
build/
dist/

# environment variables
.env

# logs
npm-debug.log*

# runtime
.DS_Store
Thumbs.db

# IDE / editors
.vscode/
.idea/

# testing
coverage/

# misc
*.tsbuildinfo


.vite/